# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual enviroment
.venv/
env/
venv/

# Variables enviroment
.env

# IDE config file
.idea/
.vscode/

# Temporal Data
*.csv
logs/
*.parquet

#CSV Testing
data/ 